certifi==2023.11.17
charset-normalizer==3.3.2
idna==3.6
numpy==1.26.2
pillow==10.1.0
requests==2.31.0
torch==1.12.1+cu113
torchaudio==0.12.1+cu113
torchvision==0.13.1+cu113
typing-extensions==4.9.0
urllib3==2.1.0
chromadb
accelerate